flask==1.0.2
Jinja2==2.10
MarkupSafe==1.1.0
Werkzeug==0.14.1
click==7.0
itsdangerous==1.1.0
numpy==1.15.4 
pandas==0.23.4 
python-dateutil==2.7.5 
pytz==2018.7 
six==1.11.0
scikit-learn==0.19.1 
scipy==1.1.0 
sklearn==0.0
h5py==2.8.0
keras==2.2.4
keras-applications==1.0.6
keras-preprocessing==1.0.5
pyyaml==3.13
absl-py==0.6.1
astor==0.7.1
gast==0.2.0 
grpcio==1.16.1
markdown==3.0.1
protobuf==3.6.1
tensorboard==1.12.0
tensorflow==2.3.1 
termcolor==1.1.0
matplotlib==3.0.2
cycler==0.10.0
kiwisolver==1.0.1
pyparsing==2.3.0
xgboost==0.81
bokeh==1.0.2
packaging==18.0
pillow==5.3.0
tornado==5.1.1
