{% extends "base.html" %} {% set active_page = "history" %}{% block content %}
<style>
    body {
        background: rgb(255, 255, 255);
    }

    form {
        position: absolute;
        top: 100;
        left: 50%;
    }

    form button {
        margin: 0;
        color: #000;
        background: #16a085;
        border: none;
        width: 300px;
        height: 45px;
        margin-top: 20px;
        margin-left: -150px;
        margin-bottom:20px;
        border-radius: 4px;
        border-bottom: 4px solid #117A60;
        transition: all .2s ease;
        outline: none;
    }

    form button:hover {
        background: #149174;
        color: #0C5645;
    }

    form button:active {
        border: 0;
    }

    /* Style the tab */

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */

    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */

    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <h4>Number of Records:{{history_num}}</h4>
                <br>
                <div class="table-responsive">
                    <table cellpadding="10" border='1' id="mytable" class="table table-bordered table-striped">
                        <thead>
                            <th>ID</th>
                            <th>FlowMeter flow numbers</th>
                            <th>Joy flow numbers</th>
                            <th>Time</th>
                        </thead>
                        {%for i in range(history_num)%}
                        <tbody>
                            <tr>
                                <td><a href="/results/{{ID[i]}}">{{ID[i]}}</a></td>
                                <td>{{flmt_flow_num[i]}}</td>
                                <td>{{joy_flow_num[i]}}</td>
                                <td>{{time[i]}}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>

                 

                </div>

            </div>
        </div>
    </div>

    
    
    




<form action="/upload" method="GET">
    <button type="submit" class="btn btn-primary">Back</button>
</form>{% endblock %}