{% extends "base.html" %} {% block content %}

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">

</head>

<body>
    <div class="Aligner flex-fill">
        <div><img src="../static/image/LOGOO.png" class="img-responsive"></div>
        <div style="font-size:xx-large"><b>LOGOO Protect ALL Packet</b></div>
        <div style="font-size:large">
            <p>this web is developed by ESOE</p>
        </div>
    </div>
</body>
{% endblock %}