{% extends "base.html" %}{% set active_page = "upload" %} {% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/upload.css">
    <script>
        var thread_id = "{{thread_id}}"
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    {% if error != "" %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endif %}
    <form id="uploadform" enctype="multipart/form-data">
        <input id="upload" type="file" accept=".pcap" name="upload">
        <p>Drag your files here or click in this area.</p>
        <button id="btnUploadFile" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Upload</button>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Upload Progress</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div id="status_context"></div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%" id="pb"></div>
                        </div>

                    </div>
                </div>
            </div>
    </form>
    <script type="text/javascript" src="../static/js/script.js"></script>
</body>
{% endblock %}